<div class="container">

    <h1>Gestion des approvisionnements</h1>

    <div id="ligne1">
    <mat-card class="appro-cards">
        <mat-card-header>
            <div mat-card-avatar class="article"></div>
            <mat-card-title>Ajouter nouvel article</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        
        </mat-card-content>
        <mat-card-actions>
            <button class="pull-right" mat-raised-button color="primary" routerLink="ajouter-article" mat-button>Accéder</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="appro-cards">
        <mat-card-header>
            <div mat-card-avatar class="article"></div>
            <mat-card-title>Modifier article existant</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        
        </mat-card-content>
        <mat-card-actions>
            <button class="pull-right" mat-raised-button color="primary" routerLink="modifier-article" mat-button>Accéder</button>
        </mat-card-actions>
    </mat-card>
</div>

<div id="ligne2">
    <mat-card class="appro-cards">
        <mat-card-header>
            <div mat-card-avatar class="category"></div>
            <mat-card-title>Ajouter nouvelle catégorie </mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
            <button class="pull-right" mat-raised-button color="primary" routerLink="ajouter-categorie" mat-button>Accéder</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="appro-cards">
        <mat-card-header>
            <div mat-card-avatar class="category"></div>
            <mat-card-title>Modifier une catégorie existante</mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
            <button class="pull-right" mat-raised-button color="primary" routerLink="modifier-categorie" mat-button>Accéder</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>