<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup] = signup_form (ngSubmit)="onSubmit()">
                <h1>S'enregistrer</h1>
                <p class="text-muted">Créez votre compte ici afin d'accéder à l'application</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="lastName" type="text" class="form-control" placeholder="Nom" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="firstName" type="text" class="form-control" placeholder="Prénom">
                </div>
                <div *ngIf="form && form.submitted" class="alert alert-danger">
                  <div *ngIf="firstName.errors.required">
                    Nom requis
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    first name must be at least 4 characters long.
                  </div>
                  <div *ngIf="firstName.errors.forbiddenName">
                    first name cannot be Bob.
                  </div>
                </div>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input formControlName="email" type="text" class="form-control" placeholder="Email" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="username" type="text" class="form-control" placeholder="Pseudonyme" required>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="password" type="password" class="form-control" placeholder="Mot de passe" required>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="confirm_password" type="password" class="form-control" placeholder="Confirmez mot de passe" required>
                </div>

                <button type="submit" class="btn btn-lg btn-success pull-left">Créer compte</button>
                <button id="back-to-connect" routerLink="/login" type="button" class="btn btn-link px-0">Me connecter plutôt</button>
                <button type="reset" class="btn btn-danger pull-right">Effacer</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
